правила игры в oчко
--
игру могут играть от двух до четырех игроков. 
играют одной колодой в 36 карт. 

старшинство карт не стандартно:
 валет Ч 2 очка
 дама Ч 3 очка
 король Ч 4 очка
 туз Ч 11 очков
кстальные карты при подсчете очков оцениваютс€ по номиналу
    
цель игры набрать в сумме 21 очко.

любой игрок в свой ход может попросить дополнительную карту, если считает нужным, или отказатьс€ от нее. 
игрок может иметь на руках не более 5 карт. 
игрок, набравший 21 очко, сразу выигрывает. 
игрок, набравший количество баллов большее чем 21, автоматически проигрывает.
